/* -----------------------------------** Index-------------------------------------*/
@media (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .row-eq-rs-height {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .text-sm-center {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}

/* -----------------------------------** Header-------------------------------------*/
.social-icons {
  display: flex;
  margin-left: auto;
}
.top-bar {
  padding-top: 10px;
}
@media (max-width: 767px) {
  .top-bar {
    padding-top: 5px;
  }
}
.top-bar .social-icons {
  justify-content: flex-end;
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .top-bar .social-icons {
    justify-content: center;
    padding-bottom: 5px;
  }
}
.top-bar__contact {
  padding-bottom: 10px;
}
@media (max-width: 767px) {
  .top-bar__contact {
    padding-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .top-bar__contact span:first-of-type {
    padding-right: 10px;
  }
  .top-bar__contact .pdl15.pdr15 {
    display: none;
  }
}
@media (max-width: 665px) {
  .top-bar .col-xs-6,
  .top-bar .col-sm-6 {
    width: 100%;
  }
}
.menu-logo {
  display: flex;
  width: 100%;
  align-items: center;
}
@media (max-width: 1199px) {
  .menu-logo .logo {
    max-width: 150px;
  }
}
.menu-logo .donate-button-wrap {
  margin-left: auto;
}
.menu-logo .donate-button-wrap .btn {
  width: 145px;
  height: 40px;
}
.main-menu-area {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 7px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 991px) {
  .main-menu-area {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.main-menu-area--absolute {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 987;
  left: 0;
}










/*      All Global css----------------------------*/
* {box-sizing: border-box;}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #606060;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  color: #606060;
}
a:hover,
a:focus,
a.active {
  text-decoration: none;
  outline: none;
  color: #0aaaa0;
}
input {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
label {
  font-weight: normal;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="time"]:focus,
input[type="text"]:focus,
.form-control:focus,
textarea:focus,
textarea.form-control:focus {
  box-shadow: none;
  outline: 0;
  border-color: #0aaaa0;
}
input[type="submit"]:focus {
  outline: 0;
} /*  Heading Tag-------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e2bf97;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  font-weight: inherit;
}
h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 42px;
  line-height: 55px;
  font-weight: 700;
  margin: 0;
}
h3 {
  font-size: 24px;
  margin-top: 0;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 18px;
}
h5 {
  font-size: 14px;
  line-height: 24px;
}
img {
  max-width: 100%;
}
.all-text-white * {
  color: #fff;
}
.all-text-white .btn {
  color: #fff;
  border-color: #cccccc;
}
.all-text-white .btn:hover {
  border-color: #0aaaa0;
  background: #0aaaa0;
}
.img-round {
  border-radius: 10px;
}
.disinb {
  display: inline-block;
}
.fix {
  overflow: hidden;
}
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  line-height: 1.8;
}
.clear {
  clear: both;
}
.section-padding {
  padding-top: 87px;
  padding-bottom: 70px;
}
@media (max-width: 767px) {
  .section-padding {
    padding-top: 65px;
    padding-bottom: 50px;
  }
}
.section-heading.text-center p {
  margin-left: auto;
  margin-right: auto;
}
.section-heading {
  padding-bottom: 7px;
}
.section-title {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 14px;
  }
}
.section-title--small {
  font-size: 30px;
}
.section-sub-title {
  font-size: 16px;
}
.heading-label-four {
  font-size: 18px;
  font-weight: 600;
}
.section-heading.md-padding {
  padding-bottom: 40px;
}
.section-heading.sm-padding {
  padding-bottom: 20px;
}
.section-heading-separator {
  width: 163px;
  background: #cccccc;
  height: 1px;
  margin: 30px auto;
  position: relative;
}
.section-heading-separator:before {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border: 1px solid #cccccc;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.section-heading-separator:after {
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #0aaaa0;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100%;
}
.section-heading-separator--small {
  width: 95px;
  margin: 17px auto;
}
.section-heading-separator--left-align {
  width: 90px;
  margin-left: 0;
  margin-top: 12px;
}
.section-heading-separator--left-align:before {
  margin-left: 0;
}
.section-heading-separator--left-align:after {
  margin-left: 0;
  left: 3px;
}
.max-width-620 {
  max-width: 620px;
}
.max-width-470 {
  max-width: 470px;
}
.max-width-800 {
  max-width: 800px;
}
.over-x-hidden {
  overflow-x: hidden;
}
.base-color {
  color: #0aaaa0;
}
.base-bg {
  background: #0aaaa0;
  color: #fff;
}
.base-bg h1,
.base-bg h2,
.base-bg h3,
.base-bg h4,
.base-bg h5,
.base-bg h6,
.base-bg a,
.base-bg p,
.base-bg span {
  color: #fff;
}
.base-bg .base-color {
  color: #0aaaa0;
}
.base-bg .nv-color {
  color: #1e3042;
}
.red-color {
  color: #ff0000;
}
.small-text {
  font-size: 12px;
}
.ash-white-bg {
  background: #f7f8fa;
}
.nv-color {
  color: #1e3042;
}
.text-mute {
  color: #c1c1c1;
}
hr {
  border-color: #cccccc;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ume250");
  src: url("../fonts/icomoon.eot?ume250#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ume250") format("truetype"),
    url("../fonts/icomoon.woff?ume250") format("woff"),
    url("../fonts/icomoon.svg?ume250#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
 /* -----------------------------------** End Margin Space-------------------------------------*/
.max-width-630 {
  max-width: 630px;
}  /* -----------------------------------** Menu Area-------------------------------------*/
#easy-menu > ul {
  float: right;
  padding-left: 40px;
}
#easy-menu > ul > li {
  margin: 0 13px;
  position: relative;
}
@media (max-width: 1199px) {
  #easy-menu > ul > li {
    margin: 0 9px;
  }
}
#easy-menu > ul > li:before {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #0aaac0;
  content: "";
  width: 0;
  height: 4px;
  transition: 0.3s;
  display: none;
}
#easy-menu > ul > li:hover:before {
  width: 100%;
}
#easy-menu > ul > li:hover > a {
  color: #0aaaa0;
}
#easy-menu > ul > li > a {
  color: #606060;
  font-weight: 300;
  padding: 37px 5px;
  font-size: 14px;
  position: relative;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 1199px) {
  #easy-menu > ul > li > a {
    padding: 27px 5px;
  }
}
#easy-menu,
#easy-menu ul,
#easy-menu ul li,
#easy-menu ul li a {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box;
}
#easy-menu > ul > li {
  float: left;
}
#easy-menu ul ul {
  position: absolute;
  left: -9999px;
  background: #fff;
  z-index: 6;
  padding: 15px 26px 15px 26px;
  margin-top: 10px;
  transition-property: margin-top;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#easy-menu ul ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
#easy-menu ul ul li {
  padding: 12px 0;
}
#easy-menu ul ul li a {
  position: relative;
}
#easy-menu ul ul li a:hover {
  color: #0aaaa0;
}
#easy-menu ul ul li a:after {
  font-family: "FontAwesome";
  content: "\f105";
  float: right;
}
#easy-menu ul ul li {
  transition: all 0.25s ease;
}
#easy-menu li:hover > ul {
  left: auto;
  margin-top: 0;
}
#easy-menu ul ul ul {
  margin-left: 100%;
  transition: 0.3s;
}
#easy-menu ul ul li:last-child {
  border-bottom: 0;
}
#easy-menu ul ul li a {
  width: 150px;
}
#easy-menu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media (max-width: 991px) {
  nav {
    width: 100%;
  }
  #easy-menu .button {
    display: block;
    margin-top: -6px;
  }
  #easy-menu {
    width: 100%;
  }
  #easy-menu ul {
    width: 100%;
    display: none;
  }
  #easy-menu ul li {
    width: 100%;
    border-top: 1px solid rgba(164, 181, 224, 0.17);
  }
  #easy-menu ul ul li,
  #easy-menu li:hover > ul > li {
    height: auto;
  }
  #easy-menu ul li a,
  #easy-menu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #easy-menu > ul > li {
    float: none;
  }
  #easy-menu ul ul li a {
    padding-left: 25px;
  }
  #easy-menu ul ul ul li a {
    padding-left: 35px;
  }
  #easy-menu ul ul,
  #easy-menu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #easy-menu > ul > li.has-sub > a:after,
  #easy-menu > ul > li.has-sub > a:before,
  #easy-menu ul ul > li.has-sub > a:after,
  #easy-menu ul ul > li.has-sub > a:before {
    display: none;
  }
  #easy-menu .button {
    width: 25px;
    height: 26px;
    position: absolute;
    right: 5px;
    top: 22px;
    cursor: pointer;
    z-index: 12399994;
    transition: 0s;
  }
  #easy-menu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(164, 181, 224, 0.17);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  .menu-area .menu-list > li a {
    padding: 16px 0;
  }
  #easy-menu ul ul {
    border: 0;
    padding: 0;
  }
  #easy-menu ul ul li:first-child {
    border: 0;
  }
  #easy-menu ul ul .submenu-button {
    height: 46px;
    width: 46px;
  }
  #easy-menu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #828282;
    content: "";
  }
  #easy-menu ul ul .submenu-button:after {
    top: 22px;
    right: 13px;
  }
  #easy-menu .submenu-button.submenu-opened:after {
    background: #828282;
  }
  #easy-menu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #828282;
    content: "";
  }
  #easy-menu ul ul .submenu-button:before {
    top: 19px;
    right: 16px;
  }
  #easy-menu .submenu-button.submenu-opened:before {
    display: none;
  }
  #easy-menu ul ul ul li.active a {
    border-left: none;
  }
  #easy-menu > ul > li.has-sub > ul > li.active > a,
  #easy-menu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
  #easy-menu > ul > li.has-sub li.has-sub {
    padding-bottom: 0;
  }
  #easy-menu > ul > li.has-sub li.has-sub > a {
    padding-bottom: 15px;
  }
}
.main-menu-fix {
  position: fixed !important;
  left: 0;
  background: #fff;
  top: 0;
  z-index: 9999 !important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
  width: 100%;
}
.main-menu-fix #easy-menu > ul > li > a {
  padding: 30px 5px;
}
.main-menu-fix .menu-logo {
  height: 75px;
} /* -----------------------------------** End Header-------------------------------------*/ /* -----------------------------------** Button-------------------------------------*/
.btn {
  border: 1px solid #0aaaa0;
  border-radius: 5px;
  background: transparent;
  color: #0aaaa0;
  font-size: 16px;
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  padding: 9px 15px;
  font-weight: 500;
}
.btn:hover,
.btn.active {
  background: #0aaaa0;
  color: #fff;
}
.btn.base-bg {
  border-color: #0aaaa0;
  color: #fff;
  background: #0aaaa0;
} /* -----------------------------------** End Button-------------------------------------*/ /* -----------------------------------** Feature-------------------------------------*/
.feature-section {
  padding-bottom: 55px;
}
.feature-item {
  text-align: center;
  min-height: 280px;
}
@media (max-width: 767px) {
  .feature-item {
    min-height: auto;
    padding-bottom: 20px;
  }
}
.feature-item__icon-wrap {
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background: #ebebeb;
  border-radius: 100%;
  margin-bottom: 27px;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 991px) {
  .feature-item__icon-wrap {
    width: 90px;
    height: 90px;
  }
}
.feature-item__icon-wrap:before {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 50px;
  height: 50px;
  background: #0aaaa0;
  content: "";
  transition: 0.4s;
  border-radius: 100%;
  opacity: 0;
}
.feature-item__icon {
  font-size: 36px;
  line-height: 120px;
  color: #0aaaa0;
  transition: 0.3s;
  position: relative;
  z-index: 4;
}
@media (max-width: 991px) {
  .feature-item__icon {
    font-size: 30px;
    line-height: 90px;  
  }
}
.feature-item:hover .feature-item__icon-wrap:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
}
.feature-item:hover .feature-item__icon {
  color: #fff;
}
.feature-item:hover .feature-item__title {
  color: #0aaaa0;
} /* -----------------------------------** End Feature-------------------------------------*/ /* -----------------------------------** Help Us-------------------------------------*/
.help-us-section {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.help-us-section:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: rgba(0, 0, 0, 0.9);
}
.help-us-section .section-heading-separator:before {
  background: rgba(0, 0, 0, 0.9);
}
.help-us {
  position: relative;
  margin-bottom: 30px;
}
.help-us__icon-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #0aaaa0;
  text-align: center;
}
.help-us__icon {
  line-height: 46px;
  font-size: 24px;
}
.help-us__text-content {
  margin-left: 75px;
}
.help-us__title {
  margin-bottom: 10px;
}
.help-us p {
  margin-bottom: 20px;
} /* -----------------------------------**  End Help Us-------------------------------------*/ 
.help-us {
  position: relative;
  margin-bottom: 30px;
}
.help-us__icon-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #0aaaa0;
  text-align: center;
}
.help-us__icon {
  line-height: 46px;
  font-size: 24px;
}
.help-us__text-content {
  margin-left: 75px;
}
.help-us__title {
  margin-bottom: 10px;
}
.help-us p {
  margin-bottom: 20px;
}
 /* -----------------------------------** End Gallery-------------------------------------*/ /* -----------------------------------** Events-------------------------------------*/
.blog-post {
  border-radius: 15px;
  background: #fff;
  border: 1px solid #cccccc;
  transition: 0.3s;
  margin-bottom: 30px;
}
.blog-post__thumbnail-wrap {
  border-radius: 15px 15px 0 0;
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .blog-post__thumbnail-wrap img {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
  }
}
.blog-post__text-content {
  padding: 25px 25px 30px 30px;
}
.blog-post__title {
  margin-bottom: 5px;
}
.blog-post:hover {
  border-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.blog-post:hover {
  transform: translateY(0);}

 /* -----------------------------------** End Blog-------------------------------------*/ /* -----------------------------------** Testimonial-------------------------------------*/
.join-us-section {
  background-color: #0aaaa0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.join-us {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 18px;
}
@media (max-width: 480px) {
  .join-us {
    display: block;
    text-align: center;
  }
}
.join-us__title {
  margin-bottom: 10px;
} /* -----------------------------------** End Join Us-------------------------------------*/ /* -----------------------------------** Footer-------------------------------------*/
.copyright-area {
  background: #2c2c2c;
}
@media (max-width: 767px) {
  .widget--footer {
    text-align: center;
  }
  .widget--footer .widget__heading:after,
  .widget--footer .widget__title:before,
  .widget--footer .widget__title:after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .widget--footer .widget__text-content {
    display: inline-block;
  }
}
.footer-menu {
  float: right;
  padding: 5px 0 5px 0;
}
@media (max-width: 767px) {
  .footer-menu {
    float: none;
  }
}
.footer-menu li {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
}
@media (max-width: 1199px) {
  .footer-menu li {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
  }
  .footer-menu li:first-child {
    padding-left: 0;
  }
  .footer-menu li:last-child {
    padding-right: 0;
  }
}
.footer-menu li:before {
  content: "|";
  padding-left: 22px;
  padding-right: 22px;
}
@media (max-width: 1199px) {
  .footer-menu li:before {
    display: none;
  }
}
.footer-menu li:first-child:before {
  display: none;
} /* -----------------------------------** End Feature-------------------------------------*/ /* -----------------------------------** Widget-------------------------------------*/
.copyright-text {
  padding: 10px 0;
}
.slider-area {
  position: relative;
}
.slider-title {
  text-transform: uppercase;
  font-weight: 700 !important;
  color: #d8e4e2;
}
@media (max-width: 480px) {
  .slider-sub-heading {
    max-width: 325px;
    display: inline-flex;
    white-space: normal;
  }
  .slider-sub-heading br {
    display: none;
  }
}
.slider-section .defaultimg:after {
  content: "";
  position: absolute;
  z-index: 8;
  top: -50%;
  left: 0;
  width: 100%;
  height: 150%;
  background: rgba(0, 0, 0, 0.51);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#82000000',GradientType=0 );
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
} /* -----------------------------------** End Slider-------------------------------------*/ /* -----------------------------------** Slick Slider-------------------------------------*/

.banner-area {
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: 153px;
  padding-bottom: 170px;
}
@media (max-width: 991px) {
  .banner-area {
    padding-top: 83px;
    padding-bottom: 100px;
  }
}
#slider-img{
  width: 100%;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
/* -----------------------------------** End Slider-------------------------------------*/ /* -----------------------------------** To top-------------------------------------*/
.back_to_top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.nav-list{
  list-style-type: none;
  text-align: center;
}
.nav-list li{
  display: inline-block;
}
