<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Do Bem</title>
    <meta name="description" content="Nossos problemas estão interligados, assim como as soluções.Nós prosperamos e somos mais fortes quando cooperamos. Atuamos para promover a ligação entre pessoas que querem se ajudar." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" sizes="72x72" href="../static/images/logo.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900%7COpen+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/mystyle.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>

  <body>    
    <div class="header">
      <i class="fas fa-chevron-circle-left fa-lg" style="font-size: 30px;"></i>   
      <div >
        <div class="menu-logo">
          <div >
            <a href="index.html" class="logo-index"
              ><img class="logo" src="../static/images/logo.png" alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
    <div class="banner-area-tank-send  all-text-white text-center">
        <div class="container-tank-send">       
            <div class="col-md-12">
              <h1 class="page-title">
                DESCULPE, HOUVE UM ERRO EM NOSSO SISTEMA <br/>
                TENTE DE NOVO MAIS TARDE! 
              </h1>
            </div>
            <div class="donate-button-wrap">
                <button id="exit-button" class="btn base-ranger " >VOLTAR PARA PAGINA INICIAL</button>
            </div>
            <h3 class="made_by">Do Bem ♡</h3>
          </div>        
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/footer.js"></script>
    <script type="text/javascript" src="../static/scripts/index.js"></script>
  </body>
</html>