<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Do Bem - home</title>
    <meta name="description" content="Nossos problemas estão interligados, assim como as soluções.Nós prosperamos e somos mais fortes quando cooperamos. Atuamos para promover a ligação entre pessoas que querem se ajudar." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" sizes="72x72" href="../static/images/logo.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900%7COpen+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/mystyle.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>

  <body>        
    <div class="header ">  
      <div >
        <div class="menu-logo">
          <div >
            <a href="index.html" class="logo-index"
            ><img class="logo" src="../static/images/logo.png" alt=""
            /></a>
          </div>
          <div class="donate-button-wrap">
            <button id="logout-button" class="btn base-ranger">SAIR</button>
          </div>
        </div>
      </div>
    </div>

    <div class="banner-area-donario-history  all-text-white text-center ">
        <div class="container-form" id="container-logged">       
            <div class="page-title "> 
            <img class="user" src="../static/images/user.png" alt=""/>
            <h3>Escolha uma das opções abaixo.</h3>
           </div>            
            <div class="main main_logged">          
                <div class="cards_item cards_item_logged">
                  <div class="card card_logged">
                    <h2 class="card_title" id="to-give-button">QUERO<br/>DOAR</h2>
                   </div>
                </div >
                <div class="cards_item cards_item_logged">
                  <div class="card">
                     <h2 class="card_title" id="to-receive-button">QUERO<br/>AJUDA</h2>
                  </div>
                </div >
                <div class="cards_item cards_item_logged">
                  <div class="card">
                    <h2 class="card_title" id="my-donations-button">MINHAS<br/>DOAÇÕES</h2>
                  </div>
                </div >
                <div class="cards_item cards_item_logged">
                    <div class="card">
                      <h2 class="card_title" id="my-requests-button">MEUS<br/>PEDIDOS</h2>
                    </div>
                </div>    
            </div>
            <h3 class="made_by">Do Bem ♡</h3>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/home.js"></script>
    </body>
</html>