<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Do Bem - sign-up</title>
    <meta name="description" content="Nossos problemas estão interligados, assim como as soluções.Nós prosperamos e somos mais fortes quando cooperamos. Atuamos para promover a ligação entre pessoas que querem se ajudar." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" sizes="72x72" href="../static/images/logo.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900%7COpen+Sans:300,400,600,700,800"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/styles/sign-style.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>

  <body>   
    <div class="login">
      <i class="fas fa-chevron-circle-left fa-lg " id="back-home"  style="font-size: 30px;" ></i>    
        <div class="form">
            <div><img class="logo" src="../static/images/logo.png" alt=""/></div>
            <span><h2>Registre-se</h2></span>

            <div class="register-form"> 
            <label for="cpf-input"><span id="cpf-span" class="error-message"></span></label>
            <input placeholder="CPF" type="text" name="cpf" id="cpf-input" class="only-number" size="11" maxlength="11" />

            <label for="username-input"><span id="username-span" class="error-message"></span></label>
            <input placeholder="Nome de usuário:" type="text" name="username" id="username-input" size="64" maxlength="64" />

            <label for="full-name-input"><span id="full-name-span" class="error-message"></span></label>
            <input placeholder="Nome completo:" type="text" name="full-name" id="full-name-input" size="256" maxlength="256" />

            <label for="email-input"><span id="email-span" class="error-message"></span></label>
            <input placeholder="Email:" type="email" name="email" id="email-input" size="256" maxlength="256" />

            <label for="email-confirmation-input"><span id="email-confirmation-span" class="error-message"></span></label>
            <input placeholder="Repita o email:" type="email" name="email-confirmation" id="email-confirmation-input" size="256" maxlength="256" />

            <label for="phone-input"><span id="phone-span" class="error-message"></span></label>
            <input placeholder="Telefone:" type="text" name="phone" id="phone-input" class="only-number" size="11" maxlength="11" />    

            <label for="cep-input"><span id="cep-span" class="error-message"></span></label>
            <input placeholder="CEP:" type="text" name="cep" id="cep-input" class="only-number" size="8" maxlength="8" />
            <input type="button" id="search-cep-button" value="PESQUISAR CEP">    
      
            <label for="address-input"><span id="address-span" class="error-message"></span></label>
            <input placeholder="Logradouro:" disabled type="text" name="address" id="address-input" />

            <label for="address-number-input"><span id="address-number-span" class="error-message"></span></label>
            <input placeholder="Número:" type="text" name="address-number" id="address-number-input" size="16" maxlength="16" />

            <label for="address-complement-input"></label>
            <input placeholder="Complemento:" type="text" name="address-complement" id="address-complement-input" size="128" maxlength="128" />

            <label for="district-input"></label>
            <input placeholder="Bairro ou localidade:" disabled type="text" name="district" id="district-input" />

            <label for="city-input"></label>
            <input placeholder="Cidade:" disabled type="text" name="city" id="city-input" />

            <label for="state-input"></label>
            <input placeholder="UF:" disabled type="text" name="state" id="state-input" />

            <label for="password-input"></label>
            <input placeholder="Senha:" type="password" name="password" id="password-input" size="16" maxlength="16" />
            
            <label for="password-confirmation-input"></label>
            <input placeholder="Repita a senha:" type="password" name="password-confirmation" id="password-confirmation-input" size="16" maxlength="16" />
            <span id="password-span" class="error-message"></span>
            <span id="password-confirmation-span" class="error-message"></span>

            <button id="sign-up-button">REGISTRAR</button>
            <span id="sign-up-span" class="error-message centralize"></span>
          </div>
 
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="../static/scripts/sign-up.js"></script>
  </body>
</html>